/* */
body    {
    background-color: #7e8890;
}
/*Create box inside window*/
#wrapper    {
    width: 90%;
    margin: 0 auto;
}
/* Header: contains nav bar */
header  {
    text-align: center;
}

header img  {
    width: 80%;
    height: auto;
}

header h1  {
    text-align: center;
}

header h3   {
    text-align: left;
    font-style: italic; 
    padding: 0 0 0 60px;
}
/* Beginning of navbar: colors, style, alignment, text-shadow, links/pseudo clases */
header nav  {
    overflow: hidden;
    background-color: #4869b2;
    border-radius: 8px;
    margin: 10px 0;
    padding: 5px 0;
    height: 65px;
}

header nav ul  {
    list-style-type: none;
    padding: 0;
    width: 38em;
    margin: 0 auto;
}

/* incorporate ch 17-1 exercise transitions to animate pushing button on nav bar links */

header nav ul li    {
    float: left;
    text-align: center;
    color: rgb(0,0,0);
    font-size: 30px;
    padding: 0 8px;
    line-height: 1.5em;
    text-shadow: 3px 3px 1.5px rgb(100, 160, 220);
}

header nav ul li a  {
    display: block;
    margin: 10px;
    padding: 0 4px;
    border: 2px solid #1f2531;
    border-radius: 8px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}
header nav ul li a:link {
    color: #1f2531;
}
header nav ul li a:visited {
    color:  #1f2531;
}
header nav ul li a:hover {
    color:  #fff;
    border: 2px solid #B0C4DE;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
header nav ul li a:active {
    top: 3px;
}
/* Main: colors, borders, alignment... */
main    {
    clear: both;
    background-color: #4869b2;
    color: #fff;
    border: 5px solid #eeeeee;
    border-radius: 1em;
}

main h2 {
        text-align: center;
        margin: 0 0 20px 0;
        padding: 20px 0;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        background: linear-gradient(to top, #4869b2 0%, #739fff 100%);
}
    
main p   {
    text-align: center;
    width: 80%;
    margin: 0 auto;  
}
/* Footer: list, inline */
footer ul   {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 90%
}

footer ul li    {
    display: inline-block;
    padding: 0 5px;
}
/* links/pseudo classes */
footer ul li a:link {
    color: #000;
}
footer ul li a:visited {
    color:  #000;
}
footer ul li a:hover {
    color:  #fff;
}
/*Responsive web display for tablets */
    @media only screen and (max-width: 1024px) {
        #wrapper    {
            width: 100%;
        }
        main    {
            border: none;
        }
    }
/*Responsive display for smartphones  */
    @media only screen and (max-width: 768px)   {
        
        header nav {
            height: inherit;
        }
        
        nav ul li   {
            display: block;
            width: 95%;
            border-bottom: solid 1px #000000;
        }
        
        header nav ul  {
            width: auto;
        }
    }